body {
    background-color:#4C4E52;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  /********************* TEXT *********************/
  h1 {
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    text-align: left;
    margin-left: 15px;
  }
  h2 {
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    text-align: left;
  }
  h3 {
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    text-align: left;
  }
  p {
    margin-left: 20px;
    margin-bottom: 0px;
    color: white;
  }
  .dropdown-labels {
    margin-left: 20px;
    color: white;
    font-weight: bold;
  }
  .other-labels {
    margin-left: 20px;
    color: #FFBD59;
    font-weight: bold;
  }
  Label {
    color: white;
    padding: 1px;
  }
  /********************* SECTIONS *********************/
  #container {
    width: 100%; 
    overflow: hidden;
  }
  #left-container {
    height: 937px;
    width: 320px;
    background-color:#3BA27A;  
    float: left;
    margin: 0;
  }
  #right-container {
    margin-left: 340px;
  }
  #visualisation {
    margin-top: 30px;
    width: 100%; 
    overflow: hidden;
    height: 430px;
  }
  #histogram {
    width: 700px; 
    height: 430px;
    margin-left: 35px;
    float: left; 
  }
  #barplot {
    width: 700px; 
    height: 430px;
    margin-left: 800px;
    margin-right: 20px;
  }
  #data-extract {
    margin-top: 30px;
    width: 100%; 
    overflow: hidden;
    height: 400px;
  }
  #table {
    height: 420px;
    width: 800px; 
    float: left;
    margin-left: 35px;
    margin-top: 15px;
  }
  #table-side {
    width: 400px;
    margin-left: 900px;
    margin-top: 60px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }
  /********************* BUTTONS *********************/
  #update-button {
    width: 240px;
    height: 40px;
    border-radius: 5px;
    margin-left: 38px;
    margin-top: 30px;
    border: 0px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 15px;
  }
  #update-button:hover {
    background-color: #FFBD59;
    color: white;
  }
  /********************* DROPDOWNS *********************/
  .dropdown {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
  }
  .dropdown .Select-control{
    background-color: white;
  }
  .dropdown .Select-menu-outer{
    background-color: white;
  }
  .dropdown .Select-value{
    background-color: #3BA27A;
    color: white;
    font-size: 14px;  
  }
  .dropdown .VirtualizedSelectFocusedOption {
    background-color: #a5ecd1;
    color: black;
  }
  .dropdown .VirtualizedSelectOption  {
    font-size: 14px;
  }
  /********************* TOGGLES *********************/
  .toggle {
    margin-top: 8px;
  }
  /********************* SLIDER *********************/
  #n-slider {
    margin-top: 8px;
  }
  #n-slider .rc-slider-handle  {
    background-color: #FFBD59;
    border: 0px;
  }
  #n-slider .rc-slider-track {
    background-color: #E6E6E6;
  }
  #n-slider .rc-slider-dot-active {  
    border-color: #E6E6E6;
  }

  /****************** TABLE ***********************/
  td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    color: white;
}

td {
    text-align: center;
    color: white;
}

tr:nth-child(even) {
    background-color: #63666A;
}

th[scope="col"] {
    background-color: white;
    color: #fff;
}

th[scope="row"] {
    background-color: white;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 0px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}